[Unit]
Description=Mount unit for core, revision 10583
Before=snapd.service

[Mount]
What=/var/lib/snapd/snaps/core_10583.snap
Where=/snap/core/10583
Type=squashfs
Options=nodev,ro,x-gdu.hide
LazyUnmount=yes

[Install]
WantedBy=multi-user.target
