[Unit]
Description=Mount unit for lxd, revision 19032
Before=snapd.service

[Mount]
What=/var/lib/snapd/snaps/lxd_19032.snap
Where=/snap/lxd/19032
Type=squashfs
Options=nodev,ro,x-gdu.hide
LazyUnmount=yes

[Install]
WantedBy=multi-user.target
